.wrap {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.post {
  max-width: 400px;
  background-color: #73a089;
  padding: 1rem;
}

.post__image {
  width: 100%;
  height: auto;
}

#get-news {
  margin-top: 1rem;
  width: 200px;
  height: 50px;
  font-size: 1rem;
}

/* Комменты */

.add-comment {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.add-comment * {
  margin-bottom: 1rem;
}

.comments {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.comment {
  width: 100%;
  padding: 0 .5rem;
  border: 1px solid black;
}